/***********************************************************************
*    defaults.config:                                                  *
*    Change the default behavior for QMineSweeper                      *
*    Copyright (c) 2016 Tyler Lewis                                    * 
************************************************************************
*    This is a configuration file for QMineSweeper:                    *
*    https://github.com/Pinguinsan/QMineSweeper                        *
*    These files can be edited to change the default                   *
*    behaviour of the game, including log file location                *
*    The source code is released under the GNU LGPL                    *
*                                                                      * 
*    You should have received a copy of the GNU Lesser General         *
*    Public license along with QMineSweeper                            *
*    If not, see <http://www.gnu.org/licenses/>                        * 
***********************************************************************/

*Number of mine columns (This cannot be odd by default, unless the override parameter below is set to 'true')*
9

*Number of mine rows (default: 9)*
9

*Even number of mines override (False causes number of mine columns to be rounded up to the next odd number, true overrides this and allows an even number of mine columns (default: false)*
False

*Winky face timeout (Increase this to change how long the winky face stays as the reset button icon when a mine is successfully uncovered) (default: 350)*
350

*Sleepy face timeout (Increase this to change how long before the reset button will change to the sleepy face icon) (default: 10000)*
10000

*Crazy face timeout (default: 500)*
500

*Big smiley face timeout multiplier (default: 2.0)* 
2.0

*Base mine reduction size (increase this to make mines smaller) (default: 8)*
5

*Log file path (Change where the game logs error and/or warning diagnostics) (default: empty)*
